# train.csv

In [115]:
import pandas as pd

In [116]:
df = pd.read_csv(r"E:\AMIT - Assignments and Materials\AI ONL 104\Data Preprocessing & Visulization\Pandas Practice assignment\Data\train.csv", encoding="ISO-8859-1")
df

,Name,Location,Year,Kilometers_Driven,Fuel_Type,Transmission,Owner_Type,Mileage,Engine,Power,Seats,New_Price,Price
0,NaN,Mumbai,2010,72000,CNG,Manual,First,26.6 km/kg,998 CC,58.16 bhp,5.0,NaN,1.75
1,na,Pune,2015,41000,Diesel,Manual,First,19.67 kmpl,1582 CC,126.2 bhp,5.0,NaN,12.50
2,Honda Jazz V,Chennai,2011,46000,Petrol,Manual,First,18.2 kmpl,1199 CC,88.7 bhp,5.0,8.61 Lakh,4.50
3,Maruti Ertiga VDI,Chennai,2012,87000,Diesel,Manual,First,20.77 kmpl,1248 CC,88.76 bhp,7.0,NaN,6.00
4,Audi A4 New 2.0 TDI Multitronic,Coimbatore,2013,40670,Diesel,Automatic,Second,15.2 kmpl,1968 CC,140.8 bhp,5.0,NaN,17.74
...,...,...,...,...,...,...,...,...,...,...,...,...,...
6014,Maruti Swift VDI,Delhi,2014,27365,Diesel,Manual,First,28.4 kmpl,1248 CC,74 bhp,5.0,7.88 Lakh,4.75
6015,Hyundai Xcent 1.1 CRDi S,Jaipur,2015,100000,Diesel,Manual,First,24.4 kmpl,1120 CC,71 bhp,5.0,NaN,4.00
6016,Mahindra Xylo D4 BSIV,Jaipur,2012,55000,Diesel,Manual,Second,14.0 kmpl,2498 CC,112 bhp,8.0,NaN,2.90
6017,Maruti Wagon R VXI,Kolkata,2013,46000,Petrol,Manual,First,18.9 kmpl,998 CC,67.1 bhp,5.0,NaN,2.65
6018,Chevrolet Beat Diesel,Hyderabad,2011,47000,Diesel,Manual,First,25.44 kmpl,936 CC,57.6 bhp,5.0,NaN,2.50

# part One

In [117]:
# 5 Min
df.shape

(6019, 13)

In [118]:
df.columns

Index(['Name', 'Location', 'Year', 'Kilometers_Driven', 'Fuel_Type',
       'Transmission', 'Owner_Type', 'Mileage', 'Engine', 'Power', 'Seats',
       'New_Price', 'Price'],
      dtype='object')

In [119]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 6019 entries, 0 to 6018
Data columns (total 13 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   Name               6018 non-null   object
 1   Location           6019 non-null   object
 2   Year               6019 non-null   int64
 3   Kilometers_Driven  6019 non-null   int64
 4   Fuel_Type          6019 non-null   object
 5   Transmission       6019 non-null   object
 6   Owner_Type         6019 non-null   object
 7   Mileage            6017 non-null   object
 8   Engine             5983 non-null   object
 9   Power              5983 non-null   object
 10  Seats              5977 non-null   float64
 11  New_Price          824 non-null    object
 12  Price              6019 non-null   float64
dtypes: float64(2), int64(2), object(9)
memory usage: 611.4+ KB

In [120]:
df.describe()

              Year  Kilometers_Driven        Seats        Price
count  6019.000000       6.019000e+03  5977.000000  6019.000000
mean   2013.358199       5.873838e+04     5.278735     9.479468
std       3.269742       9.126884e+04     0.808840    11.187917
min    1998.000000       1.710000e+02     0.000000     0.440000
25%    2011.000000       3.400000e+04     5.000000     3.500000
50%    2014.000000       5.300000e+04     5.000000     5.640000
75%    2016.000000       7.300000e+04     5.000000     9.950000
max    2019.000000       6.500000e+06    10.000000   160.000000

In [121]:
df.head()

,Name,Location,Year,Kilometers_Driven,Fuel_Type,Transmission,Owner_Type,Mileage,Engine,Power,Seats,New_Price,Price
0,NaN,Mumbai,2010,72000,CNG,Manual,First,26.6 km/kg,998 CC,58.16 bhp,5.0,NaN,1.75
1,na,Pune,2015,41000,Diesel,Manual,First,19.67 kmpl,1582 CC,126.2 bhp,5.0,NaN,12.50
2,Honda Jazz V,Chennai,2011,46000,Petrol,Manual,First,18.2 kmpl,1199 CC,88.7 bhp,5.0,8.61 Lakh,4.50
3,Maruti Ertiga VDI,Chennai,2012,87000,Diesel,Manual,First,20.77 kmpl,1248 CC,88.76 bhp,7.0,NaN,6.00
4,Audi A4 New 2.0 TDI Multitronic,Coimbatore,2013,40670,Diesel,Automatic,Second,15.2 kmpl,1968 CC,140.8 bhp,5.0,NaN,17.74

# Data Cleaning

In [122]:
df.isnull().sum()

Name                    1
Location                0
Year                    0
Kilometers_Driven       0
Fuel_Type               0
Transmission            0
Owner_Type              0
Mileage                 2
Engine                 36
Power                  36
Seats                  42
New_Price            5195
Price                   0
dtype: int64

In [123]:
df = df.dropna(subset=['Name'])
df = df.dropna(subset=['Mileage'])
df = df.dropna(subset=['Engine'])
df = df.dropna(subset=['Power'])
df = df.dropna(subset=['Seats'])

In [124]:
df.isnull().sum()

Name                    0
Location                0
Year                    0
Kilometers_Driven       0
Fuel_Type               0
Transmission            0
Owner_Type              0
Mileage                 0
Engine                  0
Power                   0
Seats                   0
New_Price            5151
Price                   0
dtype: int64

In [125]:
# drop more than 5% missing values
df.drop(columns=['New_Price'], axis=1, inplace=True)

In [126]:
df.isnull().sum()

Name                 0
Location             0
Year                 0
Kilometers_Driven    0
Fuel_Type            0
Transmission         0
Owner_Type           0
Mileage              0
Engine               0
Power                0
Seats                0
Price                0
dtype: int64

In [127]:
df

,Name,Location,Year,Kilometers_Driven,Fuel_Type,Transmission,Owner_Type,Mileage,Engine,Power,Seats,Price
1,na,Pune,2015,41000,Diesel,Manual,First,19.67 kmpl,1582 CC,126.2 bhp,5.0,12.50
2,Honda Jazz V,Chennai,2011,46000,Petrol,Manual,First,18.2 kmpl,1199 CC,88.7 bhp,5.0,4.50
3,Maruti Ertiga VDI,Chennai,2012,87000,Diesel,Manual,First,20.77 kmpl,1248 CC,88.76 bhp,7.0,6.00
4,Audi A4 New 2.0 TDI Multitronic,Coimbatore,2013,40670,Diesel,Automatic,Second,15.2 kmpl,1968 CC,140.8 bhp,5.0,17.74
5,Hyundai EON LPG Era Plus Option,Hyderabad,2012,75000,LPG,manual,First,21.1 km/kg,814 CC,55.2 bhp,5.0,2.35
...,...,...,...,...,...,...,...,...,...,...,...,...
6014,Maruti Swift VDI,Delhi,2014,27365,Diesel,Manual,First,28.4 kmpl,1248 CC,74 bhp,5.0,4.75
6015,Hyundai Xcent 1.1 CRDi S,Jaipur,2015,100000,Diesel,Manual,First,24.4 kmpl,1120 CC,71 bhp,5.0,4.00
6016,Mahindra Xylo D4 BSIV,Jaipur,2012,55000,Diesel,Manual,Second,14.0 kmpl,2498 CC,112 bhp,8.0,2.90
6017,Maruti Wagon R VXI,Kolkata,2013,46000,Petrol,Manual,First,18.9 kmpl,998 CC,67.1 bhp,5.0,2.65
6018,Chevrolet Beat Diesel,Hyderabad,2011,47000,Diesel,Manual,First,25.44 kmpl,936 CC,57.6 bhp,5.0,2.50

In [128]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 5974 entries, 1 to 6018
Data columns (total 12 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   Name               5974 non-null   object
 1   Location           5974 non-null   object
 2   Year               5974 non-null   int64
 3   Kilometers_Driven  5974 non-null   int64
 4   Fuel_Type          5974 non-null   object
 5   Transmission       5974 non-null   object
 6   Owner_Type         5974 non-null   object
 7   Mileage            5974 non-null   object
 8   Engine             5974 non-null   object
 9   Power              5974 non-null   object
 10  Seats              5974 non-null   float64
 11  Price              5974 non-null   float64
dtypes: float64(2), int64(2), object(8)
memory usage: 606.7+ KB

In [129]:
df.duplicated().sum()

np.int64(0)

In [130]:
df['Name'].unique()

array(['na', 'Honda Jazz V', 'Maruti Ertiga VDI', ...,
       'Volkswagen Polo IPL II 1.2 Petrol Highline',
       'Tata Bolt Revotron XT', 'Mahindra Xylo D4 BSIV'], dtype=object)

In [131]:
df['Location'].unique()

array(['Pune', 'Chennai', 'Coimbatore', 'Hyderabad', 'Jaipur', 'Mumbai',
       'Kochi', 'Kolkata', 'Delhi', 'Bangalore', 'Ahmedabad'],
      dtype=object)

In [132]:
df['Year'].unique()

array([2015, 2011, 2012, 2013, 2016, 2018, 2014, 2017, 2010, 2007, 2009,
       2008, 2019, 2006, 2005, 2004, 2002, 2000, 2003, 1999, 2001, 1998])

In [133]:
df['Kilometers_Driven'].unique()

array([41000, 46000, 87000, ..., 45004, 70602, 27365])

In [134]:
df['Fuel_Type'].unique()

array(['Diesel', 'Petrol', 'LPG', 'CNG'], dtype=object)

In [135]:
df['Transmission'].unique()

array(['Manual', 'Automatic', 'manual'], dtype=object)

In [136]:
#replacing values
df['Transmission'] = df['Transmission'].replace([ 'manual'], 'Manual')

In [137]:
df['Transmission'].unique()

array(['Manual', 'Automatic'], dtype=object)

In [138]:
df.columns

Index(['Name', 'Location', 'Year', 'Kilometers_Driven', 'Fuel_Type',
       'Transmission', 'Owner_Type', 'Mileage', 'Engine', 'Power', 'Seats',
       'Price'],
      dtype='object')

In [139]:
df['Owner_Type'].unique()

array(['First', 'Second', 'Fourth & Above', 'Third'], dtype=object)

In [140]:
#df['Mileage'].unique()

In [141]:
#df['Engine'].unique()

In [142]:
#df['Power'].unique()

In [143]:
df['Seats'].unique()

array([ 5.,  7.,  8.,  4.,  6.,  2., 10.,  9.,  0.])

In [144]:
df['Price'].unique()

array([12.5 ,  4.5 ,  6.  , ...,  2.27, 17.56,  7.43])

In [145]:
df['Mileage'].unique()

array(['19.67 kmpl', '18.2 kmpl', '20.77 kmpl', '15.2 kmpl', '21.1 km/kg',
       '23.08 kmpl', '11.36 kmpl', '20.54 kmpl', '22.3 kmpl',
       '21.56 kmpl', '16.8 kmpl', '25.2 kmpl', '12.7 kmpl', '0.0 kmpl',
       '13.5 kmpl', '25.8 kmpl', '28.4 kmpl', '20.45 kmpl', '14.84 kmpl',
       '22.69 kmpl', '23.65 kmpl', '13.53 kmpl', '18.5 kmpl', '14.4 kmpl',
       '20.92 kmpl', '17.5 kmpl', '12.8 kmpl', '19.01 kmpl', '14.53 kmpl',
       '11.18 kmpl', '12.4 kmpl', '16.09 kmpl', '14.0 kmpl', '24.3 kmpl',
       '18.15 kmpl', '11.74 kmpl', '22.07 kmpl', '19.7 kmpl', '25.4 kmpl',
       '25.32 kmpl', '14.62 kmpl', '14.28 kmpl', '14.9 kmpl',
       '11.25 kmpl', '24.4 kmpl', '16.55 kmpl', '17.11 kmpl', '22.9 kmpl',
       '17.8 kmpl', '18.9 kmpl', '15.04 kmpl', '25.17 kmpl', '20.36 kmpl',
       '13.29 kmpl', '13.68 kmpl', '20.0 kmpl', '15.8 kmpl', '25.0 kmpl',
       '16.4 kmpl', '24.52 kmpl', '22.1 kmpl', '8.5 kmpl', '15.1 kmpl',
       '16.95 kmpl', '19.64 kmpl', '16.5 kmpl', '18.53 kmpl',
       '17.57 kmpl', '18.0 kmpl', '23.2 kmpl', '16.73 kmpl', '17.0 kmpl',
       '13.0 kmpl', '17.68 kmpl', '22.7 kmpl', '16.2 kmpl', '15.26 kmpl',
       '23.0 kmpl', '19.83 kmpl', '14.94 kmpl', '17.71 kmpl',
       '14.74 kmpl', '16.0 kmpl', '22.32 kmpl', '12.99 kmpl', '23.3 kmpl',
       '19.15 kmpl', '10.8 kmpl', '15.0 kmpl', '22.0 kmpl', '21.9 kmpl',
       '12.05 kmpl', '11.7 kmpl', '26.6 km/kg', '21.21 kmpl',
       '20.73 kmpl', '21.1 kmpl', '24.07 kmpl', '19.0 kmpl', '20.58 kmpl',
       '19.27 kmpl', '11.5 kmpl', '18.6 kmpl', '21.14 kmpl', '11.05 kmpl',
       '21.76 kmpl', '7.81 kmpl', '21.66 kmpl', '17.2 kmpl', '20.63 kmpl',
       '19.4 kmpl', '14.8 kmpl', '26.0 kmpl', '20.4 kmpl', '21.5 kmpl',
       '15.3 kmpl', '17.9 kmpl', '16.6 kmpl', '22.54 kmpl', '25.44 kmpl',
       '13.7 kmpl', '22.48 kmpl', '12.9 kmpl', '19.98 kmpl', '21.4 kmpl',
       '19.81 kmpl', '15.4 kmpl', '25.47 kmpl', '19.87 kmpl',
       '17.45 kmpl', '14.7 kmpl', '15.64 kmpl', '15.73 kmpl',
       '23.59 kmpl', '27.4 kmpl', '20.46 kmpl', '15.29 kmpl',
       '20.51 kmpl', '11.8 kmpl', '14.3 kmpl', '14.67 kmpl', '17.19 kmpl',
       '21.03 kmpl', '22.5 kmpl', '16.82 kmpl', '11.72 kmpl', '17.4 kmpl',
       '17.05 kmpl', '24.0 kmpl', '28.09 kmpl', '20.5 kmpl', '13.1 kmpl',
       '19.91 kmpl', '18.7 kmpl', '16.38 kmpl', '11.57 kmpl', '17.3 kmpl',
       '22.95 kmpl', '18.88 kmpl', '23.4 kmpl', '22.74 kmpl',
       '12.07 kmpl', '17.1 kmpl', '18.48 kmpl', '16.47 kmpl', '23.1 kmpl',
       '14.07 kmpl', '16.02 kmpl', '19.3 kmpl', '17.7 kmpl', '9.52 kmpl',
       '14.75 kmpl', '26.3 km/kg', '11.3 kmpl', '21.12 kmpl',
       '21.02 kmpl', '14.45 kmpl', '19.33 kmpl', '13.8 kmpl', '24.7 kmpl',
       '11.0 kmpl', '11.07 kmpl', '16.1 kmpl', '21.43 kmpl', '14.21 kmpl',
       '18.86 kmpl', '16.07 kmpl', '13.49 kmpl', '20.38 kmpl',
       '12.0 kmpl', '17.01 kmpl', '13.2 kmpl', '20.37 kmpl', '15.1 km/kg',
       '15.96 kmpl', '14.16 kmpl', '13.17 kmpl', '27.62 kmpl',
       '25.1 kmpl', '15.17 kmpl', '11.33 kmpl', '17.92 kmpl',
       '12.55 kmpl', '12.6 kmpl', '17.72 kmpl', '18.16 kmpl',
       '15.68 kmpl', '15.5 kmpl', '12.1 kmpl', '14.83 kmpl', '17.6 kmpl',
       '14.6 kmpl', '14.66 kmpl', '10.93 kmpl', '20.68 kmpl', '9.9 kmpl',
       '21.13 kmpl', '20.14 kmpl', '19.2 kmpl', '27.3 kmpl', '16.36 kmpl',
       '26.59 kmpl', '12.5 kmpl', '13.6 kmpl', '15.06 kmpl', '10.13 kmpl',
       '17.21 kmpl', '15.97 kmpl', '10.5 kmpl', '14.69 kmpl', '23.9 kmpl',
       '19.1 kmpl', '21.27 kmpl', '15.9 kmpl', '20.7 kmpl', '14.1 kmpl',
       '20.89 kmpl', '18.12 kmpl', '12.3 kmpl', '19.71 kmpl', '9.43 kmpl',
       '13.4 kmpl', '13.14 kmpl', '18.1 kmpl', '22.77 kmpl', '14.49 kmpl',
       '12.39 kmpl', '10.91 kmpl', '20.85 kmpl', '15.63 kmpl',
       '27.39 kmpl', '18.3 kmpl', '16.78 kmpl', '25.5 kmpl', '10.0 kmpl',
       '13.73 kmpl', '24.2 kmpl', '14.02 kmpl', '26.83 km/kg',
       '16.77 kmpl', '24.5 kmpl', '20.34 kmpl', '21.7 kmpl', '9.7 kmpl',
       '14.33 kmpl', '21.64 kmpl', '13.2 km/kg', '19.16 kmpl',
       '16.93 kmpl', '9.0 kmpl', '26.2 km/kg', '16.3 kmpl', '12.62 kmpl',
       '17.3 km/kg', '20.64 kmpl', '14.24 kmpl', '18.06 kmpl',
       '10.2 kmpl', '10.1 kmpl', '18.25 kmpl', '13.93 kmpl', '25.83 kmpl',
       '8.6 kmpl', '13.24 kmpl', '17.09 kmpl', '23.84 kmpl', '8.45 kmpl',
       '19.6 kmpl', '19.5 kmpl', '20.3 kmpl', '16.05 kmpl', '11.2 kmpl',
       '27.03 kmpl', '18.78 kmpl', '12.35 kmpl', '14.59 kmpl',
       '17.32 kmpl', '14.95 kmpl', '13.22 kmpl', '23.03 kmpl',
       '33.44 km/kg', '15.6 kmpl', '19.12 kmpl', '10.98 kmpl',
       '33.54 km/kg', '16.46 kmpl', '18.4 kmpl', '11.1 kmpl',
       '13.01 kmpl', '18.8 kmpl', '16.52 kmpl', '18.44 kmpl',
       '19.49 kmpl', '23.5 kmpl', '23.8 kmpl', '12.65 kmpl', '20.65 kmpl',
       '21.72 kmpl', '12.19 kmpl', '26.1 kmpl', '18.33 kmpl',
       '12.81 kmpl', '17.5 km/kg', '17.06 kmpl', '17.67 kmpl',
       '19.34 kmpl', '8.3 kmpl', '16.96 kmpl', '11.79 kmpl', '20.86 kmpl',
       '16.98 kmpl', '11.68 kmpl', '15.74 kmpl', '15.7 kmpl',
       '18.49 kmpl', '10.9 kmpl', '19.59 kmpl', '11.4 kmpl', '13.06 kmpl',
       '21.0 kmpl', '15.15 kmpl', '16.9 kmpl', '18.23 kmpl', '25.0 km/kg',
       '17.16 kmpl', '17.43 kmpl', '19.08 kmpl', '18.56 kmpl',
       '11.9 kmpl', '24.6 km/kg', '21.79 kmpl', '12.95 kmpl', '25.6 kmpl',
       '13.45 km/kg', '26.21 kmpl', '13.58 kmpl', '16.25 kmpl',
       '10.4 kmpl', '17.44 kmpl', '19.2 km/kg', '22.71 kmpl',
       '17.54 kmpl', '22.1 km/kg', '17.0 km/kg', '15.87 kmpl', '9.5 kmpl',
       '11.56 kmpl', '14.39 kmpl', '19.09 kmpl', '17.85 kmpl',
       '31.79 km/kg', '18.18 kmpl', '21.19 kmpl', '21.8 kmpl',
       '15.42 kmpl', '14.47 kmpl', '19.69 kmpl', '12.83 kmpl', '8.0 kmpl',
       '22.8 km/kg', '12.63 kmpl', '14.57 kmpl', '27.28 kmpl',
       '15.41 kmpl', '32.26 km/kg', '18.19 kmpl', '13.33 kmpl',
       '16.7 kmpl', '17.84 kmpl', '20.0 km/kg', '23.19 kmpl',
       '11.49 kmpl', '18.51 kmpl', '13.44 kmpl', '8.7 kmpl', '8.77 kmpl',
       '17.97 kmpl', '23.57 kmpl', '12.37 kmpl', '9.1 kmpl', '12.51 kmpl',
       '19.44 kmpl', '21.38 kmpl', '16.51 kmpl', '24.8 kmpl',
       '14.42 kmpl', '14.53 km/kg', '26.8 kmpl', '24.04 kmpl', '9.8 kmpl',
       '19.68 kmpl', '21.4 km/kg', '21.2 kmpl', '19.72 kmpl', '14.2 kmpl',
       '12.98 kmpl', '23.01 kmpl', '16.12 kmpl', '9.3 kmpl', '15.85 kmpl',
       '17.88 kmpl', '10.6 kmpl', '11.78 kmpl', '7.94 kmpl', '25.01 kmpl',
       '8.1 kmpl', '13.9 kmpl', '11.62 kmpl', '20.62 kmpl', '15.11 kmpl',
       '10.37 kmpl', '18.59 kmpl', '9.74 kmpl', '14.81 kmpl', '8.2 kmpl',
       '12.97 kmpl', '7.5 kmpl', '30.46 km/kg', '6.4 kmpl', '12.85 kmpl',
       '18.69 kmpl', '17.24 kmpl'], dtype=object)

In [146]:
# Editing Mileage using apply function and change from km/kg to km/l
# km/l = 1.4 km/kg